@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>A collection of Joel's favorite movies'</a>.</p>
    <img src="~/img/joelhiltonheadshot.jpg" alt="Pic of Joel" width="500" height="500">
</div>
