@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<body>
    <p>Check out Joel's activities:</p>
    <ul>
        <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where he performs regularly)</li>
        <li><a href="https://baconsale.com/">Baconsale site</a></li>
    </ul>
    <p>Click on the photo below to visit Baconsale site:</p>
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" alt="Joel's Photo" width="500" height="400">
    </a>
</body>
